<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform stdoutLogEnabled="true" startupTimeLimit="120" processPath="%JAVA_HOME%\bin\java.exe" arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\target\meusistema-1.0-SNAPSHOT.jar&quot;">
      <environmentVariables>
        <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true" />
        <environmentVariable name="JAVA_HOME" value="%ProgramFiles(x86)%\zulu\zulu-11" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>


